<div>
    {{#each albums as |album|}}
        <img src="{{album.images.1.url}}" alt="{{album.name}}">
        <div>
            {{album.name}}
        </div>
        <div>
            <button type="button">
                <a href="/album/{{album.id}}">View Tracks</a>
            </button>
        </div>
    {{/each}}
</div>