<div>
    <div>
        <form action="artist-search" method="get">
            <input name="search" type="text" placeholder="" />
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>